.template {
	display: none;
}
.social-buttons {
  display: inline-flex;
}
.main-nav ul {
  display: none;
}
.hamburger {
	position: absolute;
  top: 0;
  right: 0;
}
footer {
	position: fixed;
	bottom: 5px;
	right: 5px;
}
