/*Navigation*/
.hamburger img {
  width: 2em;
  float: right;
  padding: 5px;
}
.main-nav {
  padding: 0.1em;
  }
.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}
.main-nav:hover ul {
  display: block;
}
.header-info {
  background-color: rgba(255, 77, 61, 0.6);
  padding: 20px;
  text-align: center;
}

/*Projects*/
.projectImage {
  width: 80%;
  margin: 10px 10px 15px 0px;
  display: flex;
  border: 1px solid darkgray;
  border-radius: 3px;
  margin-left: 10%;
}
.project-caption p {
  font-size: .6em;
  color: black;
  font-weight: 100;
  padding: 3px;
}
.title {
  font-size: 1.25em;
  margin-bottom: 3px;
}
.skills {
  font-size: .75em;
}
time {
  font-size: .6em;
}
.gitCode {
  font-size: .75em;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 3px;
  border-radius:3px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: 10%;
}
.section-title {
	background-color: rgba(255, 77, 61, 0.6);
	border-radius: 1px;
}
article {
	background-color: rgba(255, 255, 255, 0.2);
	/*border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 3px;*/
	padding: 20px 20px 30px 20px;
}

/*Footer*/
footer {
	padding: 20px;
}

/*Hire Me*/
#hire {
  background-color: rgba(255, 77, 61, 0.6);
}

/*Media Queries*/
@media only screen and (min-width: 640px) {
  .hamburger {
    display: none;
  }
  .main-nav ul {
    display: inline-block;
  }
  ul a {
    display: inline-block;
  }
}
@media only screen and (min-width: 850px) {
  .main-nav ul {
    float: right;
  }
  .project-caption {
    text-align: center;
  }
  .projectImage {
    width: 60%;
  }
}
