/*Navigation*/
.hamburger img {
  width: 2em;
  float: right;
  padding: .5em;
}
.main-nav {
  padding: 0.1em;
  }
  .main-nav li {
    margin-top: .5em;
  }
.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}
.main-nav:hover ul {
  display: block;
}
.header-info {
  background-color: rgba(255, 77, 61, 0.6);
  /*background-blend-mode: screen;*/
  padding: 20px 10px 5px 10px;
  text-align: center;
  border-bottom: .5px solid rgba(0, 0, 0, 0.2);
}

/*Projects*/
.projectImage {
  width: 80%;
  margin: 10px 10px 15px 0px;
  display: flex;
  border: 1px solid darkgray;
  border-radius: 3px;
  margin-left: 10%;
}
.project-caption p {
  font-size: .6em;
  color: black;
  font-weight: 100;
  padding: 3px;
}
.title {
  font-size: 1.25em;
  margin-bottom: 3px;
}
.skills {
  color: black;
}
.skills {
  font-size: .75em;
  margin-bottom: 0px;
}
time {
  font-size: .6em;

}
.gitCode {
  font-size: .75em;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 3px;
  border-radius:3px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: 10%;
}
.section-title {
	text-shadow: .1px .1px rgb(255, 217, 214);
  text-decoration: underline;
  margin-bottom: .5em;
}
#project {
  padding: 30px;
  /*background-color: rgba(255, 255, 255, 0.2);*/
}
article {
  margin-bottom: 50px;
}

/*Media Queries*/
@media only screen and (min-width: 640px) {
  .hamburger {
    display: none;
  }
  .main-nav ul {
    display: inline-block;
  }
  .main-nav li {
    display: inline-block;
  }
}
@media only screen and (min-width: 850px) {
  .main-nav ul {
    float: right;
  }
  .project-caption {
    text-align: center;
  }
  .projectImage {
    width: 60%;
  }
}
