/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body, section, div, ul, li {
  outline: 1px dotted red;
}
body {
	line-height: 1;
}
#about, #projects, #hire {
  padding: 30px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of Meyers Reset*/
.clearfix {
  clear: both;
}
body {
  font-family: 'Playfair Display', 'Georgia', serif;
  font-size: 17px;
  background-color: #ccc;
  /*background-image: url("https://hd.unsplash.com/photo-1463130456064-77fda7f96d6b");
  background-position: fixed;
  background-repeat:no-repeat;
  background-size: cover;*/
}
h1 {
  font-size: 2em;
  margin: 3px;
}
h2 {
  font-size: .75em;
  margin-bottom: 10px;
}
.section-title {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
}
li {
  font-size: 1em;
}
hr {
  width: 80%;
}
.template {
	display: none;
}
.hamburger img {
  width: 2em;
  float: right;
  padding: 5px;
}
.social-buttons {
  display: inline-flex;
  /*text-shadow: 1px 1px #fff;*/
}
.header-info {
  background-color: rgba(255, 77, 61, 0.88);
  padding: 20px;
  text-align: center;
}

.main-nav ul {
  display: none;
}

a {
  text-decoration: none;
  color: red;
}
ul a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 5px 10px;
}
.portfolioImage {
  width: 300px;
  margin-bottom: 30px;
  margin-top: 10px;
  border: 1px solid darkgray;
}
.project-caption p {
  font-size: .6em;
  color: black;
  font-weight: 100;
  padding: 3px;
}
@media only screen and (min-width: 640px) {
  .hamburger {
    display: none;
  }
  .main-nav ul {
    display: inline-block;
  }
  .portfolioImage {
    width: 300px;
    margin: 0 auto;
    display: block;
  }
  ul a {
    display: inline-block;
  }
}
@media only screen and (min-width: 850px) {
  .main-nav ul {
    float: right;
  }
  .project-caption {
    text-align: center;
  }
  .portfolioImage {
    text-align: center;
  }
}
